<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>courses</title>
  <link rel="stylesheet" href="/public/css/courses.css">
</head>
<body>
  <h2 id="courseheading">
    Our Courses
  </h2>

  <div id="courseContainer">
    <a href="/viewcourses/?name=I.S.I ENTRANCE">
      <div class="courseitem">
        <img src="\public\images\isi.jpeg" alt="">
        <h2>I.S.I ENTRANCE</h2>
      </div>
    </a>

    <a href="/viewcourses/?name=IIT JAM">
      <div class="courseitem">
        <img src="\public\images\iit jam.jpg" alt="">
        <h2>IIT JAM</h2>
      </div>
    </a>

    <a href="/viewcourses/?name=COMPUTER LANGUAGE">
      <div class="courseitem">
        <img src="\public\images\computer language.png" alt="">
        <h2>COMPUTER LANGUAGE</h2>
      </div>
    </a>

    <a href="/viewcourses/?name=B.S.C MATH(HONOURS PASS)">
      <div class="courseitem">
        <img src="\public\images\bsc math.webp" alt="">
        <h2>B.S.C MATH(HONOURS & PASS)</h2>
      </div>
    </a>

    <a href="/viewcourses/?name=JELET">
      <div class="courseitem">
        <img src="\public\images\jelet3.jpeg" alt="">
        <h2>JELET</h2>
      </div>
    </a>

    <a href="/viewcourses/?name=GATE (MATH COMPUTER)">
      <div class="courseitem">
        <img src="\public\images\gate1.jpeg" alt="">
        <h2>GATE (MATH & COMPUTER)</h2>
      </div>
    </a>

    <a href="/viewcourses/?name=NIMCET ENTRANCE">
      <div class="courseitem">
        <img src="\public\images\nimcet2.jpeg" alt="">
        <h2>NIMCET ENTRANCE</h2>
      </div>
    </a>

    <a href="/viewcourses/?name=B.TECH (MATH COMPUTER)">
      <div class="courseitem">
        <img src="\public\images\b tech1.jpeg" alt="">
        <h2>B.TECH (MATH & COMPUTER)</h2>
      </div>
    </a>


    <a href="/viewcourses/?name=JEE (MAINADVANCE)">
      <div class="courseitem">
        <img src="\public\images\jee main.jpeg" alt="">
        <h2>JEE (MAIN & ADVANCE)</h2>
      </div>
    </a>

    <a href="#">
      <div class="courseitem">
        <img src="\public\images\mock test.png" alt="">
        <h2>MOCK TEST</h2>
      </div>
    </a>
    
    <a href="/viewcourses/?name=COMPUTER PROJECT">
      <div class="courseitem">
        <img src="\public\images\computer project.png" alt="">
        <h2>COMPUTER PROJECT</h2>
      </div>
    </a>

    <a href="/viewcourses/?name=S.S.C(school service comission)">
      <div class="courseitem">
        <img src="\public\images\ssc.jpeg" alt="">
        <h2>S.S.C(school service comission)</h2>
      </div>
    </a>

    <a href="/viewcourses/?name=CLASS XI (MATH)">
      <div class="courseitem">
        <img src="\public\images\class xi.jpeg" alt="">
        <h2>CLASS XI (MATH)</h2>
      </div>
    </a>

    <a href="/viewcourses/?name=CLASS XI (MATH)">
      <div class="courseitem" >
        <img src="\public\images\class xii.png" alt="">
        <h2>CLASS XII (MATH)</h2>
      </div>
    </a>

    <a href="/viewcourses/?name=CAT-MAT (MATHEMATICS)">
      <div class="courseitem">
        <img src="\public\images\cat-mat.jpg" alt="">
        <h2>CAT-MAT (MATHEMATICS)</h2>
      </div>
    </a>

    <a href="/viewcourses/?name=OXYMPIAD (MATH)">
      <div class="courseitem">
        <img src="\public\images\Olympiad-Exams.png" alt="">
        <h2>OXYMPIAD (MATH)</h2>
      </div>
    </a>

  </div>

</body>
</html>