<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>doubt asked</title>
  <style>
    #doubtasked{

    }
    #heading{
      background-color: rgb(54, 54, 195);
      color: white;

    }
  h4{
    color: green;
  }

  
    body{
      padding: 20px;
     

    }
  </style>
</head>
<body>
  <div id="doubtasked"></div>
  <h1 id="heading">doubt asked question?</h1>
  <h4>1) how to login?</h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae delectus earum consequuntur assumenda obcaecati incidunt, quam et ducimus facere accusantium aperiam, praesentium reprehenderit animi. Laborum modi laudantium quae itaque esse!  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam excepturi odit sint magnam similique ratione ut, error quas doloribus eligendi! Quidem eius odit nobis deleniti rem aperiam est adipisci nam!
  </p>

  <h4>2)how to register?</h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae delectus earum consequuntur assumenda obcaecati incidunt, quam et ducimus facere accusantium aperiam, praesentium reprehenderit animi. Laborum modi laudantium quae itaque esse! Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quaerat quam amet nihil corporis recusandae deserunt minima minus perferendis voluptatibus. Facilis temporibus magni accusamus, reiciendis ducimus aut. Voluptatibus, modi nulla?</p>

  <h4>3)how to register?</h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae delectus earum consequuntur assumenda obcaecati incidunt, quam et ducimus facere accusantium aperiam, praesentium reprehenderit animi. Laborum modi laudantium quae itaque esse! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores, ipsum! Voluptatibus totam accusamus praesentium, a sunt nihil! Eos minus magnam, obcaecati accusamus deleniti, officiis reprehenderit vitae nemo quibusdam ut ipsa?</p>

  <h4>4)how to register?</h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae delectus earum consequuntur assumenda obcaecati incidunt, quam et ducimus facere accusantium aperiam, praesentium reprehenderit animi. Laborum modi laudantium quae itaque esse! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, alias. Qui assumenda ipsam tempora nihil, delectus aliquam obcaecati vitae temporibus accusantium eligendi tenetur, nemo explicabo maiores sint veniam! Animi, quia!</p>

  <h4>5)how to register?</h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae delectus earum consequuntur assumenda obcaecati incidunt, quam et ducimus facere accusantium aperiam, praesentium reprehenderit animi. Laborum modi laudantium quae itaque esse! Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, incidunt corrupti? Corrupti id optio excepturi? Quis, animi adipisci nemo officiis nobis esse quidem dolores sunt temporibus fugit modi incidunt explicabo.</p>

  <h4>6)how to register?</h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae delectus earum consequuntur assumenda obcaecati incidunt, quam et ducimus facere accusantium aperiam, praesentium reprehenderit animi. Laborum modi laudantium quae itaque esse! Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque commodi unde consequatur facilis temporibus, nihil non tenetur praesentium adipisci, obcaecati error excepturi sint pariatur voluptates dolore voluptas. Dicta, aperiam error.</p>

  <h4>7)how to register?</h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae delectus earum consequuntur assumenda obcaecati incidunt, quam et ducimus facere accusantium aperiam, praesentium reprehenderit animi. Laborum modi laudantium quae itaque esse! Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quas error neque rem optio dignissimos perferendis voluptatem quo! Aperiam ut, qui ipsa voluptatum eum itaque distinctio quaerat excepturi enim aut!</p>

  <h4>8)how to register?</h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae delectus earum consequuntur assumenda obcaecati incidunt, quam et ducimus facere accusantium aperiam, praesentium reprehenderit animi. Laborum modi laudantium quae itaque esse! Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aliquam iure ex aperiam mollitia non numquam omnis praesentium dolorum, molestiae nam repellat adipisci ducimus ipsam sint dicta quidem repellendus eveniet.</p>

  <h4>9)how to register?</h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae delectus earum consequuntur assumenda obcaecati incidunt, quam et ducimus facere accusantium aperiam, praesentium reprehenderit animi. Laborum modi laudantium quae itaque esse! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit vel ratione enim doloribus amet, velit ullam, nisi sequi ab, quos aliquid recusandae obcaecati incidunt voluptate! Explicabo iste aspernatur rerum officia.</p>

  <h4>10)how to register?</h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae delectus earum consequuntur assumenda obcaecati incidunt, quam et ducimus facere accusantium aperiam, praesentium reprehenderit animi. Laborum modi laudantium quae itaque esse!</p>

  <h4>11)how to register?</h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae delectus earum consequuntur assumenda obcaecati incidunt, quam et ducimus facere accusantium aperiam, praesentium reprehenderit animi. Laborum modi laudantium quae itaque esse!</p>

  <h4>12)how to register?</h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae delectus earum consequuntur assumenda obcaecati incidunt, quam et ducimus facere accusantium aperiam, praesentium reprehenderit animi. Laborum modi laudantium quae itaque esse!</p>

  <h4>13)how to register?</h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae delectus earum consequuntur assumenda obcaecati incidunt, quam et ducimus facere accusantium aperiam, praesentium reprehenderit animi. Laborum modi laudantium quae itaque esse!</p>
  
</body>
</html>