<!DOCTYPE html>
<html lang="en">
<head>     
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css\login.css">  
  <title>Login Page</title>
</head>
<body>
  
  <form id="loginForm" action="/login" method="POST">
    <label for="userName">Username:</label>
    <input type="text" id="userName" name="userName" required>

    <label for="passw">Password:</label>
    <input type="password" id="passw" name="passw" required>

    <button type="submit">Login</button>
  </form>
    
</body>
</html>


