<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  body{
    margin: 0px;
    background: #e3e5f5;
  }
     
  form{
    width: 415px;
    height: 505px;
    margin: auto;
    background-color: white;
    margin-top: 89px;
    border: 1px solid gren;
    /* border: 1px solid green; */
    border-radius: 12px;
    padding: 36px 45px 0px 45px;   
  }
  form h2{
    text-align: center;
    /* background-color: blue; */
    color: blue;   
    font-size: 33px;
    margin: 0px;
  }
  form label{
    font-size: 21px;
  }
  form #feedName{
    margin: 5px 0px 10px 0px;
    width: 176px;
  }
  form textarea{
    width: 392px;
    height: 216px;
    margin: 29px 0px 0px 0px;
}
  form button{
    margin: 11px 14px 0px 0px;
    background-color: blue;
    color: white;
    border: none;
    font-size: 17px;
    cursor: pointer;
    border-radius: 2px;
    
}
</style>
<body>
  
  <form>
    <h2>parent doubt</h2>
    <label for="student">parent name</label>
    <br>
    <input type="text" id="feedName" name="parentName" placeholder="your name">
    <br>             
    <label for="parentnumber">mobile no </label>
    <br>
    <input type="tel" style="width: 175px; margin-top: 4px;" placeholder="enter mobile no" id="parentnumber" name="parentNumber" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" required>
    <br>
    
    <textarea name="feedback" id="feed" cols="50" rows="10" placeholder="Text feedback "></textarea>
    <br>
    <button type="button" onclick="fb()">submit</button>
    <button type="reset" onclick="clearf()">reset</button>
    <div id="message"></div>
  </form>      
  
<script>

  function clearf()
  {
    document.getElementById('message').innerHTML='';
  }

  function fb(){
    var Pname=document.getElementById('feedName').value;
  var f=document.getElementById('feed').value;
  var pNumber=document.getElementById('parentnumber').value;   
  var a={  
    name:Pname,
    pnumber:pNumber,
    feedtext: f        
  }   
  fetch('/parentZone', {
        method: 'POST',
        headers: {
      "Content-Type": "application/json",
    },    
        body: JSON.stringify(a)     
      })        
        .then(response => response.json())
        .then(data => {
          document.getElementById('message').innerHTML = data.msg;
        })    
        .catch(error => {
          console.error('Error:', error);
        });
  }


</script>
  


</body>
</html>