<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> create account </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>   
    <!-- <link rel="stylesheet" href="style.css"> -->
    <style>
      * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dbdbe9;
}

.container {
    width: 27rem;
    margin: 1rem;
    padding: 2rem 1rem 3rem 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 13px;     
}

.container h2 {
    margin-bottom: 2rem;
}

.container form {
    display: flex;
    flex-direction: column;
}

.container form label {
    width: 100%;
    margin-bottom: 5px;
}

.container form input {
    width: 17rem;
    outline: none;
    padding: 5px 10px;
    margin-bottom: 1rem;
    border: 1px solid rgb(133, 129, 129);
    margin-left: 33px;
    border-radius: 4px;
}

button {
    border: none;
    color: #fff;
    margin: 1rem 0;
    font-size: 18px;
    padding: 0.5rem;
    cursor: pointer;   
    font-weight: bold;
    border-radius: 7px;
    /* background: linear-gradient(to right, red, yellow); */
    background: #272323;
}

.newUser span {
    color: rgb(25, 176, 176);
}
    </style>
</head>

<body>

    <section class="container">

        <h2> Create Account </h2>
        <form id="loginForm" action="/registration" method="post">
            <i class="fa fa-user-check" style="    text-align: center;
            font-size: 39px;
            color: #00b200;"></i>          <p style="    text-align: center;
            margin-bottom: 35px;">email verified enter your name and password to complete the registration </p>   

          <label for="username" style="padding-left: 37px;"><span> Your name </span></label>
          <input type="text" name="username" id="username">
          
            <label for="userId" style="padding-left: 37px;"><span> Email </span></label>
            <input type="email" name="email" id="userId" value=" <%=email%> "   readonly> 

            <label for="password" style="padding-left: 37px;"><span> Password </span></label>

            <input type="password" name="stuPassword" id="password" required/>

            <button>Register</button>  
        </form>

        <p class="newUser">
            Account exists? <a href="/studentlogin" style="text-decoration: none;"><span> click to login</span></a>  
        </p> 
      </section>

</body>
</html>