<!DOCTYPE html>
<html lang="en">
<head>       
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>registration</title>
</head>
<body>
    <h1>user registration</h1>
    <form  id="userregistration" action="/registration" method="post">
      <label for="userName" >user name:</label>
      <input type="text" id="userName" placeholder="enter your name" name="email">   
      <br>
      <label for="password">Password: </label>
      <input type="password" id="password" placeholder="enter a password" name="stuPassword">
      <br>
      <button type="submit">register</button> 
      <button type="reset">reset</button>
    </form>
</body>
</html>