<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login Form </title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <style>
      * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
}

.container {
    width: 20rem;
    margin: 1rem;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
}

.container h2 {
    margin-bottom: 2rem;
}

.container form {
    display: flex;
    flex-direction: column;
}

.container form label {
    width: 100%;
    margin-bottom: 5px;
}

.container form input {
    width: 16rem;
    outline: none;
    padding: 5px 10px;
    margin-bottom: 1rem;
    border: 1px solid rgb(133, 129, 129);
}

button {
    border: none;
    color: #fff;
    margin: 1rem 0;
    font-size: 18px;
    padding: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5rem;
    background: linear-gradient(to right, red, yellow);
}

.newUser span {
    color: rgb(25, 176, 176);
}
    </style>
</head>

<body>

    <section class="container">

        <h2> Login Form </h2>
        <form id="loginForm" action="/studentlogin" method="post">

           

            <label for="userId"><span> Email </span></label>
            <input type="email" name="email" id="userId">   

            <label for="password"><span> Password </span></label>

            <input type="password" name="stuPassword" id="password" required/>

            <button>Login</button>
        </form>

        <p class="newUser">  
            Not a member? <a href="/registration" style="text-decoration: none;"><span>Signup now</span></a>
        </p> 
    </section>

</body>
</html>