<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css\successLoginPage.css">
  <title>Login Success</title>
</head>
<body>       
  <div id="loginSuccessSection">
    <div id="leftdiv">

    </div>      
    <div id="rightdiv">
      <a href="/teacherviewcourses">View Course</a>
      <a href="/addCourse">Add Course</a>
      <a href="#">Delete Course</a>
      <a href="/uploadnotes">Upload Notes</a>
      <a href="/uploadVideoSection">Upload Video</a>
      <a href="#">Set Exam Paper</a>
      <a href="/giveNotice">write Notice</a>  
      <a href="/admissionNotice">View Notice</a>
      <a href="#">Student Details</a>
      <a href="/addGalleryPhoto">add gallery photo</a>
      <a href="/viewgallery">View gallery</a>
      <a href="#">Delete gallery photo</a>   
      <a href="">13</a>
      <a href="">14</a>
      <a href="">15</a>
      <a href="">16</a>
      


    </div>
  </div>
</body>
</html>

<!-- <a href="/teacherviewcourses">
  <div class="adminFeatures">View Course</div>
</a>
<a href="/addCourse">
  <div class="adminFeatures">Add Course</div>
</a>
<a href="#">
  <div class="adminFeatures">Delete Course</div>
</a>
<a href="/uploadnotes">
  <div class="adminFeatures">Upload Notes</div>
</a>   
<a href="/uploadVideoSection">
  <div class="adminFeatures">Upload Video</div>
</a>
<a href="#">
  <div class="adminFeatures">Set Exam Paper</div>
</a>
<a href="/giveNotice">
  <div class="adminFeatures">write Notice</div>
</a>
<a href="/admissionNotice">
  <div class="adminFeatures">View Notice</div>
</a>
<a href="#">
  <div class="adminFeatures">Student Details</div>
</a>
<a href="/addGalleryPhoto">
  <div class="adminFeatures">add gallery photo</div>
</a>
<a href="/viewgallery">
  <div class="adminFeatures">View gallery</div>
</a>
<a href="#">
  <div class="adminFeatures">Student Details</div>
</a> -->