<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css\successLoginPage.css">
  <title>Login Success</title>
</head>
<body>
  <div id="loginSuccessSection">
    <div id="headingOfLSS">
      <h2>Teacher Used Section</h2>
    </div>
    <div id="allFeatures">
      <ul id="allFeaturesList1" class="allFeaturesList">
        <li id="item-1" class="item"><a href="/addCourse">Add Course</a></li>
        <li id="item-2" class="item">Delete Course</li>
        <li id="item-3" class="item"><a href="/teacherviewcourses">View Course</a></li>
        <li id="item-4" class="item"><a href="/uploadnotes">Upload Notes</a></li>
      </ul>

      <ul id="allFeaturesList2" class="allFeaturesList">
        <li id="item-5" class="item"><a href="/uploadVideoSection">Upload Video classes</a></li>
        <li id="item-6" class="item">Set Exam Paper</li>
        <li id="item-7" class="item">Give Certificate</li>
        <li id="item-8" class="item"><a href="/giveNotice">Give Notice</a></li>
        <li id="item-8" class="item"><a href="/admissionNotice">View Notice</a></li>
      </ul>

      <ul id="allFeaturesList3" class="allFeaturesList">
        <li id="item-9" class="item">Parent Detail</li>
        <li id="item-10" class="item">Student Detail</li>
      </ul>
      <ul id="allFeaturesList3" class="allFeaturesList">
        <a href="/addGalleryPhoto"><li id="item-11" class="item">add gallery photo</li></a>
        <a href="/viewgallery"><li id="item-12" class="item">view gallery</li></a>
        <a href=""><li id="item-12" class="item">delete gallery photo</li></a>

      </ul>
    </div>
  </div>
</body>
</html>



