<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>uploadnotes</title>
  <link rel="stylesheet" href="\public\css\notesUploadSection.css">    
</head>
<body>  
  <form id="uploadnotessection" action="/uploadVideoSection" method="post">   
    <h2>select course section</h2>  
    <p>to</p> 
    <h2>uplaod video classes</h2>
    <select name="courseSection" id="notesSection" required>

      <option value="">
        --choose an option--
      </option>

      <option value="I.S.I ENTRANCE">
        I.S.I ENTRANCE
      </option>

      <option value="IIT JAM">
        IIT JAM
      </option>

      <option value="B.S.C MATH(HONOURS PASS)">
        B.S.C MATH(HONOURS & PASS)
      </option>

      <option value="JELET">
        JELET
      </option>

      <option value="GATE (MATH COMPUTER)">
        GATE (MATH & COMPUTER)
      </option>

      <option value="NIMCET ENTRANCE">
        NIMCET ENTRANCE
      </option>

      <option value="B.TECH (MATH COMPUTER)">
        B.TECH (MATH & COMPUTER)
      </option>

      <option value="JEE (MAINADVANCE)">
        JEE (MAIN & ADVANCE)
      </option>

      <option value="COMPUTER LANGUAGE">  
        COMPUTER LANGUAGE
      </option>

      <option value="COMPUTER PROJECT">
        COMPUTER PROJECT
      </option>

      <option value="S.S.C(school service comission)">
        S.S.C(school service comission)
      </option>

      <option value="CLASS XI (MATH)">
        CLASS XI (MATH)
      </option>

      <option value="CLASS XII (MATH)">
        CLASS XII (MATH)
      </option>

      <option value="CAT-MAT (MATHEMATICS)">
        CAT-MAT (MATHEMATICS)
      </option>

      <option value="OXYMPIAD (MATH)">
        OXYMPIAD (MATH)
      </option>

    </select>     
    <button id="selectedbutton" >select</button>
  </form>
  
</body>
</html>

