#courseContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  /* border: 1px solid black; */
  /* margin: 5px; */
  grid-gap: 20px;
  padding: 25px 90px 25px 103px;
  /* background-color: #52bce7; */
  background-color: #e0e5fa;
}

#courseContainer .courseitem{
  width: 307px;
  height: 166px;
  border: 1px solid green;
  /* background-color: #707ca0; */
  margin: auto;
  text-align: center;
  padding: 12px 0px 0px 0px;
  background-color: #3255c0;
}

#courseContainer .courseitem h2{
  
  text-align: center;    text-align: center;
  margin: 0px 0px 0px 0px;
  font-size: 20px;
  color: white;
}

#courseContainer .courseitem img{
  width: 250px;
  height: 121px;
  border: 1px solid green;
  background-color: pink;
   /* margin: 8px 0px 0px 27px; */
}

#courseheading{
  text-align: center;
  /* background-color: #29304e; */
  margin: 0px 0px 0px 0px;
  padding: 1px 0px 15px 0px;
  font-size: 37px;
  /* color: #fff;*/
}

#courseContainer .courseitem:hover{
  background-color: rgb(28, 16, 133);
  border-radius: 5px;
  
}

.ab{
  text-decoration: none;
}