/*=== Google Font Import - Poppins === */
/*  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;   
  font-family: 'Poppins', sans-serif;
}

*/

#scrolldiv{   
  border: 1px solid white;
    /* padding: 124px; */
    /* width: 100%; */
    padding: 2px 210px 0px 210px;
    margin: 10px;   
    /* background-color: #616199; */
    box-sizing: border-box;
    
}

section{
  position: relative;  
  height: 450px;
  width: 1075px;
  display: flex;
  align-items: center;
}

.swiper{
  width: 1078px;            
}

.card{
  position: relative;
  background: #fff;
  border-radius: 20px;
  height: 400px;
  margin: 20px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card::before{
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  background: white;
  border-radius: 20px 20px 0 0;
}

.card .card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
  border-radius: none;
  border: 1px solid black;
  border-radius: 22px;
  background-color: whitesmoke;
}

section .card .image{
  height: 140px;
  width: 140px;
  border-radius: 20%;
  padding: 3px;
  background: #7d2ae8;
  margin-top: 30px;
}

section .card .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20%;
  border: 3px solid #fff;
}

.card .media-icons{
  position: absolute;
  top: 12px;
  right: 95px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card .media-icons i{
  color: #7d2ae8;
  opacity: 0.6;
  margin-top: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 10px;
}

.card .media-icons i:hover{
  opacity: 1;
}

.card .name-profession{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: black;
} 

.name-profession .name{
  font-size: 20px;
  font-weight: 600;
}

.name-profession .profession{
  font-size:15px;
  font-weight: 500;
}

.card .rating{
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.card .rating i{
  font-size: 18px;
  margin: 0 2px;
  color: #7d2ae8;
}

.card .button{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;    
}

.card .button button{
  background: #7d2ae8;
  outline: none;
  border: none;
  color: #fff;
  padding: 8px 22px;
  border-radius: 10px;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;    
}

.button button:hover{
  background: #6616d0;
}

.swiper-pagination{
  position: absolute;
  top: 450px;
}

.swiper-pagination-bullet{
  height: 7px;
  width: 26px;
  border-radius: 25px;
  background: white;
}

.swiper-button-next, .swiper-button-prev{
  opacity: 0.7;
  color: white;
  transition: all 0.3s ease;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
  opacity: 1;
  color: white;
}   











body{
  margin: 5px 0px 0px 0px;  
  
}
#profileHeadDiv{
  display: flex;
flex-direction: row;
/* border: 1px solid black; */
padding: 0px;
}
.inheadDiv{
  border: 1px solid green;
  /* margin: 5px; */   
  padding: 5px;


}
#username{
  /* border: 1px solid red; */
  padding: 37px 0px 37px 196px;  
}  
#myenroll{
/* border: 1px solid green; */
margin: 0px 0px 0px 0px ;
padding: 10px;

}
#myenroll a{
float: right;
color: blue;
text-decoration: none;
font-weight: bold;
margin: 0px 191px 0px 0px;
font-size: 19px;   

}
#continueLearning{
padding: 0px 0px 0px 56px;
font-size: 23px;
font-weight: bold;
margin: 0px 0px 0px 128px;
}


#continueCourse{
  height: 222px;
  width: 1146px;
  /* border: 1px solid black; */
  margin: auto;
  display: flex;
  padding: 9px;
  background: #ebebff; 
  box-shadow: 2px 2px #c2bfbf, 0em 0 0.4em #6b6060;
  cursor: pointer;
}

#courses{
/* border: 1px solid black; */
padding: 8px 0px 8px 185px;
margin: 0px;
font-size: 30px;   
display: flex;

}
#inheadDiv-1{
margin: 0px 0px 0px 197px;   
padding: 4px 0px 0px 0px;
border: none;

}

#inheadDiv-1 img{
width: 77px;
height: 69px;


}

#inheadDiv-2{
margin: 5px 0px 5px 33px;
/* padding: 5px 95px 5px 95px; */
display: flex;
padding: 0px;
border: none;
}

#inheadDiv-2 img{
width: 25px;
height: 25px;
margin: 16px 0px 0px 0px;
}
#inheadDiv-2 input{
margin-bottom: 0px;
font-size: 17px;
padding: 0px 8px 0px 12px;
/* border: none; */
margin: 12px 0px 12px 12px;

}

#outerInheadDiv-3 button{
margin: 0px 0px 0px 0px;
border: none;  
background-color: white;
}
#outerInheadDiv-3 img{
width: 60px;
height: 60px;
}
#allcourses{
border: 1px solid black;
width: 76%;
height: 300px;
display: flex;
flex-direction: row;
margin: auto;
}

#allcourses .item{
height: 280px;
width: 273px;
border: 1px solid red;
margin: 10px;


}
#footer{
display: flex;
flex-direction: row;
/* padding: 10px; */  
/* border: 1px solid red; */

}
#footer .footeritem{
/* border: 1px solid green; */
/* padding: 5px; */

}     
#profileBox {
  padding: 10px;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 75px;      
  /* left: 20px; */
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid green;
  width: 234px;
  height: 273px;
  font-size: 25px;    
  background-color: whitesmoke;
  /* color: #821f1f; */
  color: white;
  right: 200px;
  border-radius: 7px;
  box-shadow: 2px 2px 5px 0px #b8c2e2;
  /* color: white; */
  /* text-decoration: none; */
}   
#outerInheadDiv-3{
  margin: 0px 0px 0px 646px 
}
.profileOption{
  /* border: 1px solid green;   */
/* margin: 0px 0px 12px 0px; */
/* padding: 0px 0px 13px 0px; */
text-decoration: none;
/* margin: 20px; */
padding: 5px 5px 5px 0px;  
}

#username{
  background-image: linear-gradient(to left, rgb(33 89 233 / 18%), #0909c5);
}  
#hiname{
color: white;
font-size: 23px;
}
#welcomeTo{
color: white;
font-size: 32px;   
}

#courseview{
  width: 350px;
  height: 222px;
  /* border: 1px solid green; */
  /* padding: 5px; */
  /* border-radius: 4px;*/

}   
#courseview:hover{
  position: relative;
  top: -7px;  
   
}
#coursedetails{
  width: 793px;
  height: 212px;
  /* border: 1px solid green; */
  padding: 10px 0px 0px 47px;
  font-size: 19px;
  background: #fbfbfb;    
}
#courseno{
border: 1px solid green;
padding: 4px;
border-radius: 22px;
font-size: 22px;
margin: 0px 0px 0px 6px;
}
#twitteryoutube{
float: right;

}
#footer-1{
margin: 2px 22px 2px 170px;
font-size: 32px;
background-color: blue;
color: white;
border: 1px solid green;
border: 1px solid green;
border-radius: 24px;
padding: 5px;   
}
#footer-3{
margin: 0px 25px 0px 450px;
}
#footer-2{
padding: 12px 0px 0px 0px;
font-size: 22px;
/* margin: 10px 0px 9px 0px; */
/* margin-top: 5px; */
cursor: pointer;   
}  
#footer-4 img{
width: 45px;   
height: 42px;
padding: 4px 0px 0px 0px;
}  
#continueCourse #courseview img{
  height: 221px;
  width: 348px;
  /* border: 1px solid green; */
  border-radius: 10px;  
}

.detail{
  margin: 0px 0px 14px 0px;
  padding: 0px 0px 0px 0px; 
  color: blue;   
}