body{
  margin: 5px;
}

#loginSuccessSection{
border: 1px solid green;
width: 100%; 
height: 100vh;
display: grid;
grid-template-columns: 30% 68%;
gap: 10px;
}
#leftdiv{
  border: 1px solid green;


}
#rightdiv{
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4 , 1fr);  
  gap: 20px;    
  padding: 30px;   
}
#rightdiv a{
  border: 1px solid green;
  text-decoration: none;
  text-align: center;
  padding-top: 55px;               
  font-size: 28px;
  background: #4f4fd2;
  color: white; 
  /* margin: auto; */
  
}
#rightdiv a:hover{
  border: 3px solid black;
  background-color: rgb(43, 43, 152);
}
.adminFeatures{
  border: 1px solid black;

}
